<h1>Login</h1>
<form name="login" action="/login" method="post" class="form-horizontal">
    <div class="col-md-6">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <label class+"col-md-4 control-label" for="username">Username</label>
                <div class="col-md-8">
                    <input id="username" name="username" class="form-control input-md" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class+"col-md-4 control-label" for="password">Password</label>
                <div class="col-md-8">
                    <input id="password" name="password" class="form-control input-md" type="password">
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Login" />
    </div>
</form>
