body {
    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.remove-button-wrapper {
    text-align: center;
}

.remove-button {
    color: red;
}

.editable-image {
    width: 150px; /* Width of the thumbnail */
}

.tt-hint {
  .form-control();
}
span.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    /* margin-left: 12px; */
    padding: 8px 12px;
/*    width: 422px; */
}
